<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>364104750744-a21fdl4j4v8quu96rn3eok2l9k4p8869.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.364104750744-a21fdl4j4v8quu96rn3eok2l9k4p8869</string>
	<key>API_KEY</key>
	<string>AIzaSyBoa1wdvWuigwBgPF6NaE0Yj6TZW_oIlu8</string>
	<key>GCM_SENDER_ID</key>
	<string>364104750744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hertz.DeveloperMediaBlog</string>
	<key>PROJECT_ID</key>
	<string>developermediablog</string>
	<key>STORAGE_BUCKET</key>
	<string>developermediablog.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364104750744:ios:fb601cdc7f6956ee8762ed</string>
</dict>
</plist>